header{
    
  display: flex;
  justify-content: center; 
  align-items: center;    
  height: 100%;   
}
.text{
   
    position: absolute;
    color: white;
    font-size: 50px;
}
.center {
    text-align: center;
    text-transform: capitalize;
    color: red;
    text-transform: uppercase;
}


.center h2 {text-transform: uppercase;
 color: black
}

.center2 {
  display: flex;
  justify-content: center; 
  align-items: center;    
  height: 100%; 

}
.text2 {
   
    position: absolute;
    color: white;
    font-size: 50px;
    text-align: center;
    padding-right: 20%;
 
}
.text2 p {
    font-size: 14px;
}
.btn{
    
    padding-right: 50%;
}
.event{
            margin-top: 35px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #ffffff;
            font-family: Arial, Helvetica, sans-serif;
}
.event-details{
            width: 100%;
            max-width: 70%;
           padding: 20px 20px;
            text-align: center;
            border-radius: 12px;
            background: linear-gradient(to bottom, #fde6e6, #ffffff);
}

span{
    color: red;
    font-weight:bold;
}
.join-btn {
            margin-top: 35px;
            padding: 14px 35px;
            background-color: red;
            color: white;
            border: none;
            border-radius: 8px;
            font-size: 18px;
            font-weight: bold;
            
        }
.flex{
    display: flex;  
    margin-top: 10%;
    gap: 70px; 
          
           
 }

.card2{  
         
    border: 15px solid red; 
    border-radius: 50%; 
    padding: 10px 10px;
    align-items: center;
  
}
.card1{ 
    padding-left: 200px;
    margin-top: 80px;
    
   
         
  
}
.card3{ 
    padding-right: 200px;
    margin-top: 80px 
   
  
}
.card1 h1{
    font-size: 50px;
}
.card3 h1{
    font-size: 50px;
}
.holiday-section {
    width: 90%;
    margin: auto;
    padding: 60px 0;
    text-align: center;
}
.image-section{
    position: relative;
    display: flex;
    justify-content: center;
}
.text-section{
    position: absolute;
    margin-top:150px ;
    padding-right: 600px;
    
}
.quote{
    font-size: 68px;
}
.img1{
    position: absolute;
    padding-top: 400px;
    padding-right: 100px;

}
.img2{
    position: absolute;
    padding-right: 30%;
}

  
 .img3{
    position:absolute;
    display: flex;
    padding-left: 790px;
 }
 .img4{
    position:absolute;
    padding-left: 300px;
 }
.contain {
  display: grid;
  column-gap: 20px;
  grid-template-columns: auto auto auto;

  padding-top: 600px;
}


.contain img:hover {
    transform: scale(1.08);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.25);
}

.subscription{
    margin-top: 35px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: Arial, Helvetica, sans-serif;
}
 .group{
    width: 100%;
    max-width: 70%;
    padding: 20px 20px;
    text-align: center;
    border-radius: 12px;
    background: linear-gradient(to bottom, #fde6e6, #ffffff);
}
 
.login{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 200px;
}
.text1{
    display: flex;
    height: 50px;
    width: 500px;
    
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    
    
}
.btn2{
    background-color: red;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    padding: 15px 15px;
    
   
}
.footer{
    margin-top: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    font-family: Arial, Helvetica, sans-serif;
          }

.section-1{
     display: flex;
    align-items: center;
    justify-content: center;
    gap: 500px;
    
}
/* .icon{
    align-items: center;
    justify-content: center;

} */





    
