header{
    
  display: flex;
  justify-content: center; 
  align-items: center;    
  height: 100%;   
}
.text{
   
    position: absolute;
    color: white;
    font-size: 50px;
}
.center {
    text-align: center;
    text-transform: capitalize;
    color: red;
    text-transform: uppercase;
}


.center h2 {text-transform: uppercase;
 color: black
}

.center2 {
  display: flex;
  justify-content: center; 
  align-items: center;    
  height: 100%; 

}
.text2 {
   
    position: absolute;
    color: white;
    font-size: 50px;
    text-align: center;
    padding-right: 20%;
 
}
.text2 p {
    font-size: 14px;
}
.btn{
    
    padding-right: 50%;
}
.event{
            margin-top: 35px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #ffffff;
            font-family: Arial, Helvetica, sans-serif;
}
.event-details{
            width: 85%;
            max-width: 900px;
            padding: 50px 20px;
            text-align: center;
            border-radius: 12px;
            background: linear-gradient(to bottom, #fde6e6, #ffffff);
}

span{
    color: red;
}

    
